/* Start Global variables */
:root {
    --background-color: #080808;
    --font-color: #fff;
    --font-color-two: #ababab;
    --border-color: #ff004f;
    --card-color: #262626;
}

/* End variables */

/* Start Global Rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* Small devices (≥576px) */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Extra extra large devices (≥1400px) */
/* 
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
*/

/* End Global Rules */

/* Start Components */
.sub-title {
    font-size: 60px;
    margin-bottom: 20px;
}

.btn {
    display: block;
    width: fit-content;
    margin: 50px auto;
    /* text-align: center; */
    text-decoration: none;
    color: var(--border-color);
    border: 1px solid var(--border-color);
    background-color: transparent;
    border-radius: 4px;
    padding: 14px 50px;
    transition: 0.3s;
}

.btn.left {
    margin-left: 0;
}

.btn:hover {
    color: var(--font-color);
    background-color: var(--border-color);
}

/* End Components */

/* Start Header */
header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header nav .logo {
    width: 140px
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 18px;
    position: relative;
}

header nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    width: 0%;
    background-color: var(--border-color);
    transition: 0.3s;
}

header nav ul li a:hover::after {
    width: 100%
}

header .header-text {
    margin-top: 30vh;
    font-size: 30px;
}

header .header-text h1 {
    margin-top: 20px;
    font-size: 2em;
}

header .header-text span {
    color: var(--border-color)
}

header svg {
    fill: var(--font-color);
    width: 30px;
    display: none;
}

/* End Header */

/* Start About */
.about {
    margin: 80px 0;
    color: var(--font-color-two);
}

.about .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.about .row .col.one {
    flex-basis: 35%;
    text-align: center;
}

.about .row .col img {
    width: 100%;
    border-radius: 15px;
}

.about .row .col.two {
    flex-basis: 60%;
}

.about .tab-title {
    margin: 20px 0 40px;
}

.about .tab-title .tab-link {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.about .tab-title .tab-link::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 3px;
    width: 0;
    background-color: var(--border-color);
    transition: 0.3s;
}

.about .tab-title .tab-link:hover {
    color: var(--font-color);
}

.about .tab-title .tab-link:hover::after {
    width: 50%;
}

.active-link {
    color: var(--font-color)
}

.active-link::after {
    width: 50% !important;
}

.tab-contents {
    border-radius: 8px;
    background-color: #121212;
    padding: 20px;
    display: none;
}

.tab-activate {
    display: block;
}

.tab-contents ul {
    list-style: none;

}

.tab-contents ul li {
    margin-bottom: 15px;
}

.tab-contents ul li span {
    color: var(--border-color);
    font-weight: 500;
}

.tab-contents ul li p {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    margin-left: 25px;
}


/* End About */

/* Start Services */
.services {
    margin: 80px 0;
}

.services .services-list {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.services .services-list .card {
    background-color: var(--card-color);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
}

.services .services-list .card:hover {
    transform: translateY(-10px);
    background-color: var(--border-color);
}

.services .services-list .card:hover a {
    color: white;
    text-decoration: underline;
}

.services .services-list .card:hover p {
    color: white;
}

.services .services-list .card svg {
    fill: white;
    width: 50px;
    margin-bottom: 15px;
}

.services .services-list .card h3 {
    font-size: 16px;
}

.services .services-list .card p {
    color: var(--font-color-two);
    line-height: 1.7;
    margin: 15px 0;
    transition: 0.3s;
}

.services .services-list .card a {
    text-decoration: none;
    color: var(--border-color);
    transition: 0.3s;
}

/* End Services */

/* Start Portfolio */
.portfolio {
    margin: 80px 0;
}

.portfolio .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
}

.portfolio .work-list .work {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.portfolio .work-list img {
    width: 100%;
    display: block;
    transition: transform 0.3s;
}

.portfolio .work-list .layer {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), var(--border-color));
    position: absolute;
    left: 0;
    bottom: -100%;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}

.portfolio .work-list .work:hover .layer {
    bottom: 0;
}

.portfolio .work-list .work:hover img {
    transform: scale(1.1);
}

.portfolio .work-list .layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.portfolio .work-list .layer p {
    font-weight: 300;
    color: var(--font-color);
    margin-bottom: 10px;
}

.portfolio .work-list .layer a {
    width: 40px;
    height: 40px;
    background-color: white;
    line-height: 29px;
    text-align: center;
    border-radius: 50%;
}

.portfolio .work-list .layer svg {
    fill: var(--border-color);
    width: 20px;
    vertical-align: bottom;
}

/* End Portfolio */

/* Start Contact */
.contact {
    margin: 80px 0;
}

.contact .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px
}

.contact .contact-left {
    flex-basis: 35%;
}

.contact .contact-left p {
    margin-bottom: 20px;
}

.contact .contact-left .social-icons a {
    display: inline-block;
    margin-right: 10px;
    transition: 0.3s;
}

.contact .contact-left .social-icons a svg {
    fill: var(--font-color-two);
    width: 30px;
    transition: 0.3s;
}

.contact .contact-left .social-icons a:hover svg {
    fill: var(--border-color)
}

.contact .contact-left .social-icons a:hover {
    transform: translateY(-5px)
}

.contact .contact-right {
    flex-basis: 60%
}

.contact .contact-right form {
    width: 100%;
}

.contact .contact-right form input,
.contact .contact-right form textarea {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    margin: 15px 0;
    background-color: var(--card-color);
    color: var(--font-color);
    font-size: 18px;
    border-radius: 8px;
    resize: none;
}

.contact .contact-right form .btn {
    margin-top: 15px;
    font-size: 18px;
    padding: 14px 80px;
    cursor: pointer
}

.contact .contact-right form .msg {
    display: none;
    color: var(--border-color);
    padding: 8px 14px;
    background-color: var(--card-color);
    border-radius: 4px;
}

.msg.msg-show {
    display: inline-block !important
}

/* End Contact */

/* Start Copyright */
.copyright {
    background-color: var(--card-color);
    padding: 30px 0;
    text-align: center;
    font-weight: 300;
}

/* End Copyright */

/* Responsive */
@media (max-width: 1000px) {
    .about .row {
        justify-content: center;
    }

    .about .row .col.one,
    .about .row .col.two {
        flex-basis: 80%
    }
}

@media (max-width: 992px) {
    header svg {
        display: inline-block;
        cursor: pointer;
    }

    header nav ul {
        background-color: var(--border-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        transition: 0.3s;
        z-index: 2;
    }

    .show {
        right: 0;
    }

    header nav ul li {
        display: block;
        margin: 20px
    }

    header nav ul li a {
        font-size: 18px
    }

    header nav ul svg {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .contact .row .contact-right,
    .contact .row .contact-left {
        flex-basis: 100%;
    }

    header .header-text {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    header {
        background-image: url("../images/phone-background.png");
    }

    header .header-text {
        font-size: 15px;
        margin-top: 320px;
    }

    .sub-title {
        font-size: 40px
    }

    .about .row .col.one,
    .about .row .col.two {
        flex-basis: 100%
    }

    .copyright {
        font-size: 14px;
    }
}